<%# add navigation links to this file %>
<div class="user-css">
   <li class='nav-item'> <%= link_to 'New Assembly', new_assembly_path, method: 'GET', class: 'nav-link' %></li>
   <li class='nav-item'> <%= link_to 'Profile', profile_path, method: 'GET', class: 'nav-link' %></li>
   <li class='nav-item' style="float:right"> <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE', class: 'nav-link' %></li>
</div>
