<div id="navigation-bar">
   <div id="navigation-container">
     <li class="site__title"><div class='focus'>Focus</div><div class = 'LCA'>LCA</div></li>
      <ul>
         <%= render 'users/navigation_links' %>
      </ul>
   </div>
</div>
