<!DOCTYPE html>

<html>
  <head>
    <%= javascript_include_tag "materialize.min.js" %>
    <% stylesheet_link_tag "materialize.min.cs", media: "all" %>
  </head>

  <body>
    <p><%= link_to 'Return to model building', root_path, method: 'GET', class: 'link' %></p>
  </body>

</html>