<md-dialog aria-label="{{assembly.name}} analysis">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{assembly.name}} Analysis</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close" class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>{{hello}}</h2>
                <canvas id="myChart" width="900" height="750" class="chart">test</canvas>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Bar Graph
            </md-button>
            <md-button ng-click="answer('useful')">
                Blur Graph
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>