<!DOCTYPE HTML>

<%= javascript_include_tag "assembly/application" %>

<table ng-controller="assemblyController" ng-app="assembly">
  <!-- Templates for model creation view -->

  <script type="text/ng-template" id="new-assembly.html">
      <h3>{{assembly.name}}</h3>
      <ul dnd-list="assembly">
          <li ng-repeat="item in assembly.items"
              dnd-draggable="item"
              dnd-effect-allowed="move"
              dnd-moved="list.splice($index, 1)"
              dnd-selected="models.selected = item"
              ng-class="{selected: models.selected === item}"
              ng-include="item.type + '.html'">
          </li>
      </ul>
  </script>
  
  <script type="text/ng-template" id="subassembly.html">
      <h3>{{item.name}}</h3>
      <ul dnd-list="item.items">
          <li ng-repeat="item in item.items"
              dnd-draggable="item"
              dnd-effect-allowed="move"
              dnd-moved="list.splice($index, 1)"
              dnd-selected="models.selected = item"
              ng-class="{selected: models.selected === item}"
              ng-include="item.type + '.html'">
          </li>
      </ul>
  </script>
  
  <script type="text/ng-template" id="material.html">
      <h3>{{item.name}}</h3>
      <ul dnd-list="item.processes"
          dnd-allowed-types="['process']">
          <li ng-repeat="process in item.processes"
              dnd-draggable="process"
              dnd-effect-allowed="move"
              dnd-moved="list.splice($index, 1)"
              dnd-selected="models.selected = item"
              ng-class="{selected: models.selected === item}"
              ng-include="'process.html'">
          </li>
      </ul>
  </script>
  
  <script type="text/ng-template" id="process.html">
      <div class="process">{{item.name}}</div>
  </script>
  
  <!-- Templates for Library sidebar -->
  
  <script type="text/ng-template" id="library-section.html">
      <h2>{{section.name}}</h2>
      <ul dnd-list="section.items">
          <li ng-repeat="item in section.items"
              dnd-disable-if="true"
              dnd-type="item.type"
              dnd-draggable="item"
              dnd-effect-allowed="copy"
              dnd-moved="list.splice($index, 1)"
              ng-class="{selected: models.selected === item}"
              ng-include="'library-' + item.type + '.html'">
          </li>
      </ul>
  </script>
  
  <script type="text/ng-template" id="library-category.html">
      <h3>{{item.name}}</h3>
      <ul dnd-list="item.items">
          <li ng-repeat="item in item.items"
              dnd-disable-if="true"
              dnd-type="item.type"
              dnd-draggable="item"
              dnd-effect-allowed="copy"
              dnd-moved="list.splice($index, 1)"
              ng-class="{selected: models.selected === item}"
              ng-include="'library-' + item.type + '.html'">
          </li>
      </ul>
  </script>
  
  <script type="text/ng-template" id="library-process.html">
      <div class="library-process">{{item.name}}</div>
  </script>
  
  <script type="text/ng-template" id="library-material.html">
      <div class="library-material">{{item.name}}</div>
  </script>

  <tr>
    <td class="library">
      <h1>Library</h1>
      <ul>
          <li ng-repeat="section in library"
              ng-include="'library-section.html'">
          </li>
      </ul>
    </td>

    <td class="assembly">
      <div ng-include="'new-assembly.html'"></div>
    </td>
  </tr>
</table>
